body {
    display: grid;
    place-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/*  Header */
header {
    background: #002b36;
    color: #e9e5d2;
    width: 100%;
    line-height: 22px;
    padding: 10px;
    border-bottom: 5px solid #268bd2;
    display: grid;
    grid-template-columns: auto auto;
    box-sizing: border-box;
}
header h1 {
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 20px;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
}
header li {
    display: inline-block;
    padding: 0 0 0 10px;
    white-space: pre;
}
header li:nth-child(2) a, header li:nth-child(2) a:visited, header li:nth-child(2) a:hover {color: #268bd2;}
header li:nth-child(3) a, header li:nth-child(3) a:visited, header li:nth-child(3) a:hover {color: #d33682;}
header li:nth-child(4) a, header li:nth-child(4) a:visited, header li:nth-child(4) a:hover {color: #dc322f;}

section {
    font-family: ui-monospace,
        Menlo, Monaco,
        "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono",
        "Oxygen Mono",
        "Ubuntu Monospace",
        "Source Code Pro",
        "Fira Mono",
        "Droid Sans Mono",
        "Courier New", monospace;
}

/* Search */
form {
    font-size: 14px;
}

form label {
    margin-left: 20px;
}

input {
    margin: 20px 0 0 0;
    padding: 10px;
    font-family: inherit;
    background: #eee;
    border: 1px solid #ccc;
}

/* Footer */
footer {
    display: grid;
    align-items: center;
    margin: 20px 0;
}
footer p {
    padding: 5px 10px;
    margin: 0;
    text-align: center;
}
footer a.selected {
    text-decoration: none;
    color: #666666;
}
footer a, footer a:visited {
    color: #1d6ca5;
}
footer a:hover {
    color: #3ba6f1;
}
footer.print {display: none;}

/* Pinout Table */
table {
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
    width: 1240px;
}

th,
td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 4px 6px;
}

tbody tr td:nth-child(2n + 1) {
    background-color:#ffffff33;
}

tbody tr:nth-child(1) {border-top:5px solid #cccc !important;}

tbody th, tbody td {cursor:pointer;}

tbody tr th:nth-child(2) {
    cursor:help;
}

tbody tr:hover {
    background:#333;
}

.gpio   {background-color: #85990033;border-color: #859900;}
.xtal   {background-color: #002b3633;border-color: #002b36;}
.vreg   {background-color: #dc322f33;border-color: #dc322f;}
.usb    {background-color: #2aa19833;border-color: #2aa198;}
.system {background-color: #df8f8e33;border-color: #df8f8e;}
.debug  {background-color: #268bd233;border-color: #268bd2;}
.iovdd, .dvdd, .adc_avdd, .qspi_iovdd, .adc_avdd    {background-color: #d3368233;border-color: #d33682;}
.adc    {background-color: #6c71c433;border-color: #6c71c4;}
.qspi   {background-color: #33333333;border-color: #333333;}

.gpio:hover, .gpio.hover  {background-color: #85990066;border-color: #859900;}
.xtal:hover, .xtal.hover  {background-color: #002b3666;border-color: #002b36;}
.vreg:hover, .vreg.hover  {background-color: #dc322f66;border-color: #dc322f;}
.usb:hover, .usb.hover    {background-color: #2aa19866;border-color: #2aa198;}
.system:hover, .system.hover {background-color: #df8f8e66;border-color: #df8f8e;}
.debug:hover, .debug.hover   {background-color: #268bd266;border-color: #268bd2;}
.iovdd:hover, .dvdd:hover, .adc_avdd:hover, .qspi_iovdd:hover, .adc_avdd:hover,
.iovdd.hover, .dvdd.hover, .adc_avdd.hover, .qspi_iovdd.hover, .adc_avdd.hover
{background-color: #d3368266;border-color: #d33682;}
.adc:hover, .adc.hover   {background-color: #6c71c466;border-color: #6c71c4;}
.qspi:hover, .qspi.hover {background-color: #33333366;border-color: #333333;}

.search tr {background:none;}
.search.hide tbody tr:not(.result) {display:none;}

.result td, .result th {background-color:#dc322f33;}
th.result, td.result {background-color:#dc322f66;}

.selected th, .selected td {font-weight: bold;}
.selected .selected {color:#859900;position:relative;}
.selected .selected:before {
    content: "\f08d";
    position: absolute;
    left:-5px;
    top:-5px;
    transform:rotate(-45deg);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

#minimap {
    position: fixed;
    font-size:6px;
    width:330px;
    height:330px;
    right: 10px;
    top: 57px;
    transform:scale(0.75, 0.75);
    transform-origin: 100% 0;
    transition: transform .2s ease-in-out;
}

#minimap:hover {
    transform:scale(1.5, 1.5);
}

#minimap > div {
    width:330px;
    height:330px;
    transform-origin: 50% 50%;
    background:#111111dd;
    color: #ccc;
    border-radius:5px;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
    cursor: url(fa-rotate-solid.svg), pointer;
}
@keyframes rotate360 {
    0% {
        transform: rotate(270deg);
    }
    99.9% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
#minimap.rot0 > div {animation: rotate360 .2s ease-in-out;}
#minimap.rot90 > div {transform: rotate(90deg);
    transition: transform .2s ease-in-out;}
#minimap.rot180 > div {transform: rotate(180deg);
    transition: transform .2s ease-in-out;}
#minimap.rot270 > div {transform: rotate(270deg);
    transition: transform .2s ease-in-out;}

#minimap dl {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 0;
    padding: 0 5px;
    width: 75px;
}

#minimap dt, #minimap dd {
    margin: 0;
    padding: 0 3px;
    box-sizing: content-box;
    user-select: none;
    -webkit-user-select: none;
    line-height: 10px;
    cursor:help;
}

#minimap dl:nth-child(1) {
    direction: rtl;
    position: absolute;
    left: 0;
    top: 90px;
    text-align: left;
}
#minimap.rot180 dl:nth-child(1) dt, #minimap.rot180 dl:nth-child(1) dd {
    transform: scale(-1, -1); /* Vertical flip to correct elements at 180 degree rotation */
}
#minimap.rot180 dl:nth-child(3) dt, #minimap.rot180 dl:nth-child(3) dd {
    transform: scale(-1, 1); /* Vertical flip to correct elements at 180 degree rotation */
}
#minimap.rot180 dl:nth-child(1) dt:before {
    right: auto;
    left: -6px;
}
#minimap.rot180 dl:nth-child(3) dt:before {
    left: auto;
    right: -6px;
}
#minimap.rot270 dl:nth-child(2) dt, #minimap.rot270 dl:nth-child(2) dd {
    transform: scale(-1, -1); /* Vertical flip to correct elements at 180 degree rotation */
}
#minimap.rot270 dl:nth-child(4) dt, #minimap.rot270 dl:nth-child(4) dd {
    transform: scale(-1, 1); /* Vertical flip to correct elements at 180 degree rotation */
}
#minimap.rot270 dl:nth-child(2) dt:before {
    right: auto;
    left: -6px;
}
#minimap.rot270 dl:nth-child(4) dt:before {
    left: auto;
    right: -6px;
}

#minimap dl:nth-child(2) {
    direction: rtl;
    transform: rotate(-90deg);
    transform-origin: 100% 0;
    position: absolute;
    left: 5px;
    bottom: -65px;
    text-align: left;
}
#minimap dl:nth-child(3) {
    position: absolute;
    right: 0;
    top: 90px;
    transform: scale(1, -1); /* Vertical flip container */
}
#minimap dl:nth-child(3) dt, #minimap dl:nth-child(3) dd {
    transform: scale(1, -1); /* Vertical flip to correct elements */
}
#minimap dl:nth-child(4) {
    position: absolute;
    right: 90px;
    top: 0;
    transform: scale(-1, 1) rotate(-90deg); /* Vertical flip container */
    transform-origin: 100% 0;
}
#minimap dl:nth-child(4) dt, #minimap dl:nth-child(4) dd {
    transform: scale(1, -1); /* Vertical flip to correct elements */
}
#minimap dt {
    position: relative;
}
#minimap dt:before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background: #666;
    position: absolute;
    right: -6px;
    top: 3px;
}

#minimap dt.selected {
    color: #ddff00;
}
#minimap dt.selected:before {
    background: #ddff00;
}
#minimap dd.selected {
    color: #fff;
}

#minimap dl:nth-child(3) dt:before,
#minimap dl:nth-child(4) dt:before {
    left: -6px;
    right: auto;
}
#minimap > div:before {
    content: "\2B24";
    display: block;
    background: #222;
    color: #444;
    position: absolute;
    line-height: 18px;
    text-indent: 4px;
    font-size: 5px;
    left: 85px;
    top: 85px;
    width: 160px;
    height: 160px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        color: #ddd;
    }
    th, td, tbody {border-color: #000;}
    header {
        background: #111111;
        color: #666666;
        border-bottom-color: #222222;
    }
    footer p {
        color: #666666;
    }
    input {
        background: #111;
        border: 1px solid #222;
        color: #ddd;
    }

    tbody tr td:nth-child(2n + 1) {
        background-color:#00000033;
    }

    tbody tr:nth-child(1) {border-top:5px solid #333 !important;}
}

@media print {
    footer, header ul, #nav {display: none;}
    footer.print {
        display: block;
        border-top: 5px solid #268bd2;
    }
    header {
        background: transparent;
        color: #666666;
    }
}